body {
    background-color: rgb(35, 35, 35);
    padding-top: 0px;
    margin-top: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

#my-div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 40px;
    padding-left: 20px;
    box-sizing: border-box;
}

*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
   overflow: auto !important;
}

.topbar {
    width: 100vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    opacity: 100%;
    backdrop-filter: blur(400px);
    position: fixed;
    top: 0px;
    z-index: 300;
}

.logotxt {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 1rem;
    color: aliceblue;
    margin-left: 12px;

}

.button1 {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    color: white;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
    font-weight: 500;
    font-size: medium;
}

.button1:hover {
    background-color: white;
    color: black;
    
}

.right-panel {
    display: flex;
    flex-direction: row;
}

#datetime {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 1rem;
    color: aliceblue;
    margin: 0px;
}

.center-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#city {
    margin: 0px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 1rem;
    color: aliceblue;
}

.small {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

button {
    padding: 4px;
}

.fetch-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.fetch-ascii {
    margin-top: 20px;
    margin-right: 40px;
}

.head-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
}

.head {
    background-color: black;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.white-text {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

.info {
    color: rgb(168, 100, 202);
    font-weight: 600;
}



.terminal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding-bottom: 30px;
}

.terminal.minimized {
    height: 0;
    opacity: 0;
    color: transparent;
  }


.bar-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.604);
    border-radius: 4px;  
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 10px;
    box-sizing:border-box;
    cursor: move;
}

.min {
    width: 16px;
    height: 16px;
    border-radius: 99px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
}

.min:hover {
  transform: scale(1.2);
  filter: saturate(0.5);
}

.max:hover {
  transform: scale(1.2);
  filter: saturate(0.5);
}

.close:hover {
  transform: scale(1.2);
  filter: saturate(0.5);
}

.max {
    width: 16px;
    height: 16px;
    border-radius: 99px;
    background-color: rgb(38, 160, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
}

.close {
    width: 16px;
    height: 16px;
    border-radius: 99px;
    background-color: rgb(189, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fetch {
    margin-top: 20px;
}

.ascii {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: aliceblue;
}



.term-text {
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: aliceblue;
}

.input-term {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: aquamarine;
    padding-left: 30px;
}



.top-container {
    display: flex;
    flex-direction: row;
}


h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: aliceblue;
    font-size: 28px;
}


.skills {
    display:flex;
}

.vert-last {
    margin-bottom: 0px;
}

#drag-square {
    position: absolute;
    left: 30vw;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: 50vw;
    background-color: rgb(3, 17, 170);
    backdrop-filter: blur(20px);
    border-radius: 4px; 
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.15);
    resize: both;
    overflow: auto;

  }

  #drag-square:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(240, 248, 255, 0.565);
    border-radius: 6px;
  }


  
  #drag-square1 {
    position: absolute;
    left: 30vw;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: auto;
    background-color: rgb(3, 17, 170);
    backdrop-filter: blur(20px);
    border-radius: 4px; 
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.15);
    resize: both;
    overflow: auto;
    z-index: 2;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

      }
  
      #drag-square1:hover {
        border-style: solid;
        border-width: 2px;
        border-color: rgba(240, 248, 255, 0.565);
        border-radius: 6px;
      }

#drag-square3 {
    position: absolute;
    left: 60vw;
    top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: 50vw;
    background-color: rgb(193, 196, 228);
    border-radius: 4px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.15);
    resize: both;
    overflow: auto;
    z-index: 2;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

}

      #drag-square3:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(240, 248, 255, 0.565);
    border-radius: 6px;
}

#drag-square4 {
  position: absolute;
  left: 80vw;
  top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
  width: 460px;
  height: 680px;
  background-color: rgb(217, 217, 217);
  border-radius: 18px;
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.15);
  resize: both;
  overflow: auto;
  z-index: 2;
  transform: translate(-50%, -50%);
}

    #drag-square4:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(240, 248, 255, 0.565);
  border-radius: 18px;
}

  .minimized {
    height: 0;
    opacity: 0;
    color: transparent;
    font-size: 0px;
    pointer-events: none;
  }


  .appbar {
    display: flex;
    flex-direction: row;
    row-gap: 40px;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 40px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(20px);
    padding: 10px;
    padding-left: 30px;
    padding-right: 20px;
    justify-content: flex-start;
    align-items: center;
  }

 

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 6px;
    margin-right: 10px;
    transition: all 0.15s ease-in-out;
    padding: 10px;
    filter: invert();
  }

  .icon:hover {
    transform: scale(1.4);
  }

  .icon:hover {
    background-color: rgba(240, 248, 255, 0); 
    cursor: pointer;
  }

  .icon-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: aquamarine;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: small;
    display: none;
  }


  #drag-square2 {
    position: absolute;
    left: 30vw;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: auto;
    background-color: rgb(3, 17, 170);
    backdrop-filter: blur(20px);
    border-radius: 4px; 
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.15);
    resize: both;
    overflow: auto;
    z-index: 2;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

      }
  
      #drag-square2:hover {
        border-style: solid;
        border-width: 2px;
        border-color: rgba(240, 248, 255, 0.565);
        border-radius: 6px;
      }

      canvas {
        position: relative;
        z-index: 0;
        width: 356px;
        height: 200;
      }

      .hydra-buttons {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 300;
        color: aliceblue;
        font-size: 28px;
      }


      .appbar1 {
        display: flex;
        flex-direction: row;
        row-gap: 40px;
        position: fixed;
        bottom: 50px;
        width: 100vw;
        height: 40px;
        background-color: transparent;
        padding: 10px;
        padding-left: 30px;
        padding-right: 20px;
        justify-content: flex-start;
        align-items: center;
      }

      .icon-badge {
        color: aliceblue;
        background-color: rgb(54, 98, 207);
        border-radius: 4px;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 6px;
        font-size: x-small;
      }





#homeicobadge {
    display: none;
}


#homeico:hover #homeicobadge {
    display: block;
    position: absolute;
    bottom: 50px;
    margin-left: 16px;
}

#termicobadge {
    display: none;
    margin-left: 0px;
}


#termico:hover #termicobadge {
    display: block;
    position: absolute;
    bottom: 50px;
    margin-left: 0px;
}

#conticobadge {
    display: none;
    margin-left: 0px;
}


#contico:hover #conticobadge {
    display: block;
    position: absolute;
    bottom: 50px;
    margin-left: 0px;
}

#skillicobadge {
    display: none;
    margin-left: 0px;
}


#skillico:hover #skillicobadge {
    display: block;
    position: absolute;
    bottom: 50px;
    margin-left: 0px;
}

.grub-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 450;
    display: flex;
    flex-direction: column;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 2.500vw;
    justify-content: baseline;
    align-items: center;
    column-gap: 50px;
    display: none;

}

.grub-content {
    border-style: solid;
    border-color: aliceblue;
    border-width: 4px;
    width: 70%;
    padding-top: 20px;
}

.grub-entry {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 200;
    color: aliceblue;
    margin: 0px;
    padding: 8px;
}

.grub-entry:focus {
    background-color: white;
    color: black;
}

.spacer {
    height: 400px;
}

.grub-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 200;
    color: aliceblue;
    margin: 0px;
}

.subtittle {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 200;
    color: rgba(240, 248, 255, 0.665);
    margin: 0px;
    margin-bottom: 60px;
}

.grub-help {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: 200;
    color: rgba(240, 248, 255, 0.359);
}

.grub-help1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.628);
    font-family: monospace;
    white-space: pre;
    overflow: hidden;
    animation: typing1 8s steps(60, end);
}

.grub-help2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.428);
    font-family: monospace;
    white-space: pre;
    overflow: hidden;
    opacity: 0;
    animation: typing 6s steps(60, end) 4s forwards;
}

.selected {
    background-color: brown;
}

.boot-container {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 500;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 500;
    color: aliceblue;
  display: none;

}

.boot-ascii {
    font-family: monospace;
    white-space: pre;
    overflow: hidden;
    line-height: 8px;
    opacity: 0;
    animation: typing 4s steps(60, end) 6s forwards;
    color: rgba(255, 255, 255, 0.836);
  }
  
  @keyframes typing {
    0% { opacity: 0; }
    2% { opacity: 1; }
    100% { opacity: 1; }
    from { width: 0; }
    to { width: 100%; }
  }
  
  
  @keyframes typing1 {
    from { width: 0 }
    to { width: 100% }
  }

  .boot-logo {
    padding: 40px;

  }

  .boot-button-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .boot-button {
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    color: aliceblue;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 300;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    margin-right: 10px;
    opacity: 0;
    animation: typing2 4s steps(60, end) 8s forwards;
    animation-timing-function: ease-in-out;
  }

  .boot-button:hover {
    background-color: white;
    color: blue;
  }

  .boot-button-read {
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    color: aliceblue;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 300;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    margin-right: 10px;
    opacity: 0;
    animation: typing2 4s steps(60, end) 8s forwards;
    animation-timing-function: ease-in-out;
  }

  .boot-button-read:hover {
    background-color: white;
    color: blue;
  }

  @keyframes typing2 {
    0% { opacity: 0; }
    2% { opacity: 1; }
    100% { opacity: 1; }
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* Define the CSS class that hides the boot-container */
.hide {
    display: none;
  }
  
  .portfolio-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(19, 19, 19);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: grey;
  }

  .toolbar-entry {
    margin: 0px;
    margin-right: 18px;
    color: rgb(19, 19, 19);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 300;
  }
  
  .file-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    color: rgb(19, 19, 19);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 8px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: grey;
  }

  .file-nav-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 24px;
  }

  .file-nav-icon {
    margin-right: 20px;
    height: 24px;
  }

  .file-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: grey;
    padding: 6px;
    width: 100%;
    margin-right: 5px;
  }

  .file-path {
    margin: 0px;
    line-height: 0px;
  }

  .file-view-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .sidebar {
    background-color: aliceblue;
    width: 30%;
    max-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
  }

  .sidebar-title {
    color: rgb(19, 19, 19);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 600;
  }

  .sidebar-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .sidebar-entry-text {
    margin-left: 10px;
    color: rgb(19, 19, 19);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: 300;
  }

  .sidebar-entry:hover {
    background-color: rgb(203, 216, 228);
  }


  .chat-container {
    width: 98%;
    padding: 10px;
    box-sizing: border-box;
  }

  .input-area {
    display: flex;
    flex-direction: row;

  }

  .bar-buttons-chat {
    background-color: rgb(21, 21, 213);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  #min4 {
    background-color: transparent;
    filter: invert();
  }

  .chat-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: aliceblue;
  }

  .chat-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .chat-mode {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  .chat-mode-button {
    border-radius: 8px;
    background-color: blueviolet;
    padding: 8px 16px 8px 16px;
    width: 48%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 300;
    color: aliceblue;
    border-width: 0px;
  }

  .chat-mode-button:hover {
    background-color: rgb(101, 28, 170);
  }


  .chat-container {
    background-color: rgb(217, 217, 217);
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    margin-top: -20px;
    position: relative;
    z-index: 4;
    width: 100%;
  }

  #txtOutput { 
    background-color: transparent;
    border-width: 0px;
    height: 400px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: default;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    resize: none;
    margin-top: 0px;
  }
 

  .response {
    color: black;
  }

  #txtMsg {
    background-color: rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border-width: 0px;
    padding-top: 10px;
    padding-left: 10px;
    resize: none;
  }

  #btnSend {
    border-radius: 999px;
    border-width: 0px;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #selModel {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .desk-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 6px;
  }

  .desk-icon:hover {
    background-color: rgba(255, 255, 255, 0.075);
  }

  .desk-icon-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: 100;
    color: white;
    margin-top: 0px;
  }

.chat-icon {
  border-radius: 12px;
}

.dark {
  background-color: rgb(91, 21, 157);
}

.light {
  background-color: rgb(180, 148, 210);
}