body {
    background-color: rgb(35, 35, 35);
    padding-top: 0px;
    margin-top: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

#my-div {
    width: 100vw;
    height: 100vw;
    position: absolute;
    background-color: rgb(91, 21, 157);
    left: 0x;
    background-size: contain;
    margin-top: -40px;
}

*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
   overflow: auto !important;
}

.topbar {
    width: 100vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    opacity: 100%;
    backdrop-filter: blur(400px);

}

.logotxt {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 1rem;
    color: aliceblue;
    margin-left: 12px;

}

.button1 {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    color: white;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
    font-weight: 500;
    font-size: medium;
}

.button1:hover {
    background-color: white;
    color: black;
    
}

.right-panel {
    display: flex;
    flex-direction: row;
}

#datetime {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 1rem;
    color: aliceblue;
    margin: 0px;
}

.center-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#city {
    margin: 0px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 1rem;
    color: aliceblue;
}

.small {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

button {
    padding: 4px;
}

.fetch-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.fetch-ascii {
    margin-top: 20px;
    margin-right: 40px;
}

.head-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
}

.head {
    background-color: black;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.white-text {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

.info {
    color: rgb(168, 100, 202);
    font-weight: 600;
}



.terminal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding-bottom: 30px;
}

.terminal.minimized {
    height: 0;
    opacity: 0;
    color: transparent;
  }


.bar-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.604);
    border-radius: 4px;  
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 10px;
    box-sizing:border-box;
    cursor: move;
}

.min {
    width: 16px;
    height: 16px;
    border-radius: 99px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.max {
    width: 16px;
    height: 16px;
    border-radius: 99px;
    background-color: rgb(38, 160, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.close {
    width: 16px;
    height: 16px;
    border-radius: 99px;
    background-color: rgb(189, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fetch {
    margin-top: 20px;
}

.ascii {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: aliceblue;
}



.term-text {
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: aliceblue;
}

.input-term {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: aquamarine;
    padding-left: 30px;
}



.top-container {
    display: flex;
    flex-direction: row;
}


h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: aliceblue;
    font-size: 28px;
}


.skills {
    display:flex;
}

.vert-last {
    margin-bottom: 0px;
}

#drag-square {
    position: absolute;
    left: 30vw;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: 50vw;
    background-color: rgb(3, 17, 170);
    backdrop-filter: blur(20px);
    border-radius: 4px; 
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.15);
    resize: both;
    overflow: auto;

  }

  #drag-square:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(240, 248, 255, 0.565);
    border-radius: 6px;
  }


  
  #drag-square1 {
    position: absolute;
    left: 30vw;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: auto;
    background-color: rgb(3, 17, 170);
    backdrop-filter: blur(20px);
    border-radius: 4px; 
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.15);
    resize: both;
    overflow: auto;
    z-index: 2;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

      }
  
      #drag-square1:hover {
        border-style: solid;
        border-width: 2px;
        border-color: rgba(240, 248, 255, 0.565);
        border-radius: 6px;
      }

  .minimized {
    height: 0;
    opacity: 0;
    color: transparent;
    font-size: 0px;
  }


  .appbar {
    display: flex;
    flex-direction: row;
    row-gap: 40px;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 40px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(20px);
    padding: 10px;
    padding-left: 30px;
    padding-right: 20px;
    justify-content: flex-start;
    align-items: center;
  }

 

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 6px;
    margin-right: 10px;
    transition: all 0.15s ease-in-out;
    padding: 10px;
    filter: invert();
  }

  .icon:hover {
    transform: scale(1.4);
  }

  .icon:hover {
    background-color: rgba(240, 248, 255, 0); 
    cursor: pointer;
  }

  .icon-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: aquamarine;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: small;
    display: none;
  }


  #drag-square2 {
    position: absolute;
    left: 30vw;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    width: auto;
    background-color: rgb(3, 17, 170);
    backdrop-filter: blur(20px);
    border-radius: 4px; 
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.15);
    resize: both;
    overflow: auto;
    z-index: 2;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

      }
  
      #drag-square2:hover {
        border-style: solid;
        border-width: 2px;
        border-color: rgba(240, 248, 255, 0.565);
        border-radius: 6px;
      }

      canvas {
        position: relative;
        z-index: 0;
        width: 356px;
        height: 200;
      }

      .hydra-buttons {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 300;
        color: aliceblue;
        font-size: 28px;
      }


      .appbar1 {
        display: flex;
        flex-direction: row;
        row-gap: 40px;
        position: fixed;
        bottom: 50px;
        width: 100vw;
        height: 40px;
        background-color: transparent;
        padding: 10px;
        padding-left: 30px;
        padding-right: 20px;
        justify-content: flex-start;
        align-items: center;
      }

      .icon-badge {
        color: aliceblue;
        background-color: rgb(54, 98, 207);
        border-radius: 8px;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 6px;
      }

.pulsa:hover + .icon-badge {
    display: block;
}

.pulsa {
    width: 400px;
    height: 400px;
    background-color: red;
    position: fixed;
    bottom: 0px;
}

.mostra-container {
    display: none;
    width: 1000px;
    height: 90px;
    background-color: green;
    position: fixed;
    bottom: 420px;
}

.pulsa:hover + .mostra-container {
    display: block;
}

#homeicobadge {
    display: none;
}

#homeico:hover ~ #homeicobadge {
    display: block;
}